
{% load static %}
{% load custom_filters %}

{{ body_part|json_script:"body-part" }}

<p class="fw-bold text-center fs-4">{{body_part | title | replace:"_"}}</p>

<div class="form">
  <div class="form-floating">
    <input type="text" min="1" class="form-control" id="input-ex" placeholder="Pushups">
    <label for="input-ex">Exercise</label>
  </div>
  <ul id="search-result" class="me-3 list-group m-0"></ul>

  <div class="form-floating">
    <input type="number" min="1" class="form-control" id="input-reps" placeholder="Reps">
    <label for="input-reps">Reps</label>
  </div>
  <div class="form-floating">
    <input type="number" min="1" class="form-control" id="input-sets" placeholder="Sets">
    <label for="input-sets">Sets</label>
  </div>
  <div class="form-floating">
    <input type="number" min="1" class="form-control" id="input-kg" placeholder="KG">
    <label for="input-kg">KG</label>
  </div>
</div>

{% comment %} <div class="input-group flex-nowrap mx-auto mb-2 mt-5">

    <span class="input-group-text" id="inputGroup-sizing-sm">{{body_part | title | replace:"_"}}</span>

    <input id="input-ex" type="text" class="form-control" placeholder="Exercise" aria-label="Exercise" aria-describedby="addon-wrapping" style="width:50%">
    <input id="input-reps" type="number" class="form-control" placeholder="Reps" min="1" aria-label="Reps" style="width:30%">
    <input id="input-sets" type="number" class="form-control" placeholder="Sets" min="1" aria-label="Sets" style="width:30%">
    <input id="input-kg" type="number" class="form-control" placeholder="KG" min="1" aria-label="KG" style="width:30%">
    
    <button id="add-ex"type="button" class="btn btn-primary">+</button>
</div> {% endcomment %}

<div>
    <div class="" id="response">
    </div>
</div>
<div class="modal-footer">
  <button id="add-ex" type="button" class="btn btn-primary mx-auto">Add</button>
</div>

