.st0{
    fill:#EEEEEE;
    stroke:#000000;
    stroke-linejoin:round;
    stroke-miterlimit:1.4142;
}

#front-muscles > path:hover{
    fill:rgb(255, 0, 0);
    cursor: pointer;
}

.front-person svg{
    min-height: 50rem;
}



/* .result-item {
    cursor: pointer; 
}

.result-item:hover {
    background-color: #f0f0f0; 
} */

#search-result {
    position: fixed;
    z-index: 999; 

    padding: 10px;
    width: 40%;
    max-height: 30%;
    overflow-y: auto; 
} 

.list-group-item{
    cursor:pointer;
}
.list-group-item:hover{
    background-color:rgb(230, 230, 230);
}

.table-item{
    cursor: pointer;
}

/* Training */

.training{
    width: 100%;
    height: auto;
    max-height: 45rem;
    min-height: 45rem;
    height: 45rem;
    background-color: #ffffff;
}

/* Days */
.days{
    color: white;
    width:8rem;
    background-color: rgb(65, 65, 65);
    overflow: hidden;
}

.days > .nav >  .nav-item > a{
    color:white;
}

/* Exercises */


.exercises{
    width: 100%;
    overflow-y: auto;
    --sb-track-color: #ffffff;
    --sb-thumb-color: #8a8a8a;
    --sb-size: 8px;
  }
  
/* Table */
.table-responsive{
    min-height: 44rem;
}

/* Scrollbar */
.exercises::-webkit-scrollbar {
    width: var(--sb-size);
}

.exercises::-webkit-scrollbar-track {
    background: var(--sb-track-color);
    border-radius: 11px;
}

.exercises::-webkit-scrollbar-thumb {
    background: var(--sb-thumb-color);
    border-radius: 11px;
}

@supports not selector(::-webkit-scrollbar) {
    .exercises {
        scrollbar-color: var(--sb-thumb-color)
                        var(--sb-track-color);
}
}

/* Exercise menu */
.dropdown-item{
    cursor: pointer;
}