.st0{
    fill:#EEEEEE;
    stroke:#000000;
    stroke-linejoin:round;
    stroke-miterlimit:1.4142;
}

#back-muscles > path:hover,#front-muscles > path:hover{
    transition: 0.5s;
    fill:#78A1BB;
    cursor: pointer;
}

.transition {
    transition: opacity 0.5s ease-in-out;
}


/* .result-item {
    cursor: pointer; 
}

.result-item:hover {
    background-color: #f0f0f0; 
} */

#search-result {
    position: fixed;
    z-index: 999; 
    padding-top: .5rem;
    
    

    max-height: 30%;
    overflow-y: auto; 
} 

.list-group-item{
    cursor:pointer;
}
.list-group-item:hover{
    background-color:rgb(230, 230, 230);
}

.table-item{
    cursor: pointer;
}

/* Training */

.training{
    overflow: hidden;
    width: 100%;
    height: auto;
    max-height: 40rem;
    min-height: 40rem;
    background-color: #ffffff;
}

/* Days */
.days{
    color: white;
    width:8rem;
    background-color: #252323;
    overflow: hidden;
}

.days > .nav >  .nav-item > a{
    color:white;
}
.days > .nav{
    width: 100%;
}
/* Exercises */


.exercises{
    width: 100%;
    overflow-y: auto;
    --sb-track-color: #ffffff;
    --sb-thumb-color: #8a8a8a;
    --sb-size: 8px;
  }
.tab-content{
    height: 100%;
}
/* Table */
.table-responsive{
    min-height: 39.5rem;
    overflow: hidden;

}

/* Scrollbar */
.exercises::-webkit-scrollbar {
    width: var(--sb-size);
}

.exercises::-webkit-scrollbar-track {
    background: var(--sb-track-color);
    border-radius: 11px;
}

.exercises::-webkit-scrollbar-thumb {
    background: var(--sb-thumb-color);
    border-radius: 11px;
}

@supports not selector(::-webkit-scrollbar) {
    .exercises {
        scrollbar-color: var(--sb-thumb-color)
                        var(--sb-track-color);
}
}

/* Exercise menu */
.dropdown-item{
    cursor: pointer;
}

/* Exercise menu */
.form-control{
    width: 100%;
    border:none;
}

.form-control:focus {
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(196, 196, 196, 0.6);
}

.form-floating{
    border-bottom:1px solid #d6d6d6 ;
}

.form-floating:last-child{
    border-bottom:none !important;
}

.nav-pills .nav-link.active, .nav-pills .show>.nav-link{
    background-color: #78A1BB;
}