{% extends "base.html" %}
{% load static %}
{% block page_title %}Account{% endblock  %}

{% block page_css_files %}
<link rel="stylesheet" href="{% static 'account/css/account.css' %}">
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>

{% endblock  %}

{% block page_content %}

<svg xmlns="http://www.w3.org/2000/svg" class="d-none">
  <symbol id="list">
    <path fill-rule="evenodd" d="M2.5 12a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5z"/>
  </symbol>
</svg>


<div class="container-fluid" >

  <div class="row" >
      <div id="sidebarMenu"  class="col-md-3 col-lg-2 d-md-block sidebar collapse">
        <div class="position-sticky">
          <ul class="list-unstyled ps-0">
            <div class="d-flex flex-column" id="v-pills-tab" role="tablist" aria-orientation="vertical">
              {% for month, values in user_exercises.items%}
                <button class="btn btn-toggle-month d-inline-flex rounded border-0 {% if forloop.first %}active{% endif %}" id="v-pills-month-tab" data-bs-toggle="pill" data-bs-target="#{{forloop.counter}}-pills-month" type="button" role="tab" aria-controls="{{forloop.counter}}-pills-month" aria-selected="{{forloop.first}}">
                  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-calendar-fill mx-2">
                    <path d="M3.5 0a.5.5 0 0 1 .5.5V1h8V.5a.5.5 0 0 1 1 0V1h1a2 2 0 0 1 2 2v11a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V5h16V4H0V3a2 2 0 0 1 2-2h1V.5a.5.5 0 0 1 .5-.5"/>
                  </svg>  
                  <div class="d-flex w-100">
                    <div>{{month}}</div>
                    <div class="ms-auto">{{values | length}}</div>
                  </div>
                </button> 
              {% endfor %}
            </div>

            <li class="border-top my-3"></li>
            <li class="mb-1">
              <button class="btn btn-toggle d-inline-flex align-items-center rounded border-0 collapsed" data-bs-toggle="collapse" data-bs-target="#account-collapse" aria-expanded="false">
                Account
              </button>
              <div class="collapse" id="account-collapse">
                <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
                  <li><a href="#" class="link-body-emphasis d-inline-flex text-decoration-none rounded">Settings</a></li>
                  <li><a href="#" class="link-body-emphasis d-inline-flex text-decoration-none rounded">Sign out</a></li>
                </ul>
              </div>
            </li> 
          </ul>
        </div>
      </div>

      <div class="col-md-9 ms-sm-auto col-lg-10 px-md-4 values">        


      <div class="tab-content" id="v-pills-tabContent">
        {% for month, values in user_exercises.items %}
          <div class="tab-pane fade {% if forloop.first %}show active{% endif %}" id="{{forloop.counter}}-pills-month" role="tabpanel" aria-labelledby="{{forloop.counter}}-pills-month-tab" tabindex="0">
              <div class="row mt-2">
                {% for val in values %}
                <div class="col-lg-1 col-sm-12 col-4 mx-4">
                  <a href="{% url "training" val.id %}" class="training text-decoration-none">
                      <div class="card m- shadow" >
                        <div class="card-body">
                          <h5 class="card-title py-2">{{val.created| date:"d.m.Y"}}</h5>
                          <h6 class="card-subtitle mb-2 text-body-secondary">Exercises: {{val.exercises.all | length}}</h6>
                        </div>
                      </div>
                  </a>
                </div>
                {% endfor %}
              </div>
          </div>
        {% endfor %}
      </div>
      </div>
  </div>

</div>

{% endblock  %}